<a href="https://colab.research.google.com/github/manish2509/Machine-Learning-Libraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is a DataFrame?
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [1]:
import pandas as pd
data = {
  "Hours of study": [10, 12, 9.5],
  "Percentage of marks": [80, 93, 75]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   Hours of study  Percentage of marks
0            10.0                   80
1            12.0                   93
2             9.5                   75

#Pandas use the loc attribute to return one or more specified rows.

In [3]:
print(df.loc[0]) #Returns the first row

print(df.loc[[0, 1]]) #Returns the row 1 and 2

Hours of study         10.0
Percentage of marks    80.0
Name: 0, dtype: float64
   Hours of study  Percentage of marks
0            10.0                   80
1            12.0                   93

#Indexing

In [6]:
df = pd.DataFrame(data, index = ["Student - 1", "Student - 2", "Student - 3"])
print(df)
#It sets the given indices for each row corresponding.

             Hours of study  Percentage of marks
Student - 1            10.0                   80
Student - 2            12.0                   93
Student - 3             9.5                   75

#Accessing data using Index

In [8]:
print(df.loc["Student - 3"])
#Returns the data with index Student - 3

Hours of study          9.5
Percentage of marks    75.0
Name: Student - 3, dtype: float64

#Read a CSV file

In [12]:
#Reading a CSV File
data = pd.read_csv("/content/student_scores.csv")

#Head

In [13]:
#Print the first 5 data
print(data.head())

   Hours  Scores
0    2.3      18
1    5.0      45
2    3.2      25
3    8.5      72
4    3.5      30

#Tail

In [14]:
#Print the last 5 data
print(data.tail())

    Hours  Scores
20    2.7      30
21    4.8      54
22    3.7      33
23    6.8      70
24    7.4      85

#Info

In [15]:
#Prints information of the given data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes
None